.panel-container {
	display: grid;
	border: 1px blue solid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: minmax(20px, 80px);
	gap: 2px;
}

.panel-container > button {
	font-size: 1.5em;
	padding: 20px;
	border: none;
}

.panel-container > button:hover {
	background-color: gainsboro;
}
.panel-container > button:active {
	background-color: transparent;
}

.ac {
	grid-column: 1 / span 2;
}

.equal {
	grid-column: 3 / span 2;
}

.result {
	display: flex;
	border-bottom: 2px blue solid;
	grid-column: 1/-1;
	padding-right: 10px;
	font: 2.5em Arial, Helvetica, sans-serif;
	justify-content: flex-end;
	align-items: center;
}
